@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.prose a { color: rgb(37 99 235) !important; }        /* blue-600 */
.dark .prose a { color: rgb(96 165 250) !important; } /* blue-400 */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-input: var(--input);


  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}



:root {
  --radius: 0.625rem;
  --section-spacing: 2rem; 
  --background: #fcf6f0;
--foreground: oklch(28% 0.02 30);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(60.882% 0.221 26.878);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --input: oklch(0.922 0 0);
  --firstBG: #FFFFFF;
  --secBG: #F8F9FA;

}


html {
  scroll-behavior: smooth;
}

body{
  @apply bg-background;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #222;
  letter-spacing: -0.01em;
}



.base-width-for-all-pages{
  width: 80%; 
}

.custom-button {
  @apply px-4 py-2 rounded-md border border-gray-400 text-black 
         cursor-pointer bg-transparent 
         transition-all duration-200;
}

.custom-button:hover {
  @apply outline outline-1 outline-black;
}

.custom-button:active {
  @apply opacity-70;
}