@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.prose a { color: rgb(37 99 235) !important; }        /* blue-600 */
.dark .prose a { color: rgb(96 165 250) !important; } /* blue-400 */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-input: var(--input);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}


:root {
  --radius: 0.625rem;
  --section-spacing: 2rem; 
  --background: #f0e8e1;
  --foreground: oklch(28% 0.02 30);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(60.882% 0.221 26.878);
  --border: #d4c9c0; 
  --ring: oklch(0.708 0 0);
  --input: oklch(0.922 0 0);
  --firstBG: #FFFFFF;
  --secBG: #F8F9FA;

}
 

html {
  scroll-behavior: smooth;
}

body{
  @apply bg-background;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #222;
  letter-spacing: -0.01em;
}


.base-width-for-all-pages{
  width: 80%; 
}


.header-border-theme *,
.footer-border-theme *,  
.footer-border-theme,  
.section3-border-theme * {
  border-color: var(--border) 
}


.section1-border-theme{
  background-color:  #fcf6f0;
}

.section1-border-theme *{
  border-color: #e4d8ce; 
}


.section2-border-theme{
  background-color:  #F5ECE4;
}

.section2-border-theme *{
  border-color: #d4c9c0; 
}

.section4-border-theme-infinity{
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity)); 
}


.post-border-theme{
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity)); 
}
